body{
  background-color: #E5DAB9;
}
.container-fluid{
background: rgba(229, 218, 185, 0.36);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
padding: 0; /* Atur padding ke 0 */
margin: 0; /* Atur margin ke 0 */
}
.navbar-toggler{
  background-color:#674636;
  color : #674636;
  border-radius: 50px;
  border-color : #674636;
}
.navbar-text{
  color : #674636;
}
.home{
  font-weight: 750;
}
.brewed{
  font-family: Lora;
  font-weight: 700;
  padding-top: 120px;
}
.your{
  padding-top: 20px;
  padding-bottom: 30px;
}
.button1{
  background-color:rgba(229, 218, 185, 1);
  color : #674636;
  border-radius: 50px;
  border-color : #674636;
}
.explore {
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
  background-color : #674636;
  border-radius: 5px;
  border-color : #674636;
}
.the{
  font-weight: 750;
  padding-top: 120px;
}
.kopitai{
  font-size: 11px;
}
.reserve{
  padding-right: 400px;
  padding-top: 300px;
}
.book {
  padding-right: 400px;
  padding-top: 30px;
}
