body{
  background-color: #E5DAB9;
  height: 1512px;
  width: 739px;
}
.navbar{
background: rgba(229, 218, 185, 0.36);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
}
.navbar-text{
  color : #674636;
}
.home{
  font-weight: 750;
}
.brewed{
  font-family: Lora;
  font-weight: 700;
  size : 48px;
  padding-top: 67.2px;
  color : #674636;
}
.your{
  font-weight: 400;
  size : 24px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.button1{
  background-color:#E5DAB9;
  color : #674636;
  border-radius: 50px;
  border-color : #674636;
}
.explore {
  background-color:#674636;
  color : #E5DAB9;
  border-radius: 50px;
  border-color : #674636;
}
.the{
  font-weight: 750;
  padding-top: 120px;
}
.kopitai{
  font-size: 11px;
}
.reserve{
  padding-right: 400px;
  padding-top: 300px;
}
.book {
  padding-right: 400px;
  padding-top: 30px;
}
